{% extends "base.html" %}
{% block content %}
<body>
    <img alt="здесь должна была быть картинка, но не нашлась"
         src="{{ url_for('static', filename='img/XTLDAhfaKnQ.jpg') }}">
    <img alt="здесь должна была быть картинка, но не нашлась"
         src="{{ url_for('static', filename='img/x_e98ae68cdd.jpg') }}">
    <img alt="здесь должна была быть картинка, но не нашлась"
         src="{{ url_for('static', filename='img/prosti0006.jpg') }}">
    <img alt="здесь должна была быть картинка, но не нашлась"
         src="{{ url_for('static', filename='img/kartinki-i-otkrytki-kartinka-prosti-menya-6.jpg') }}">
    <img alt="здесь должна была быть картинка, но не нашлась"
         src="{{ url_for('static', filename='img/DrYNsh7WwAADEiL.jpg') }}">
    <img alt="здесь должна была быть картинка, но не нашлась"
         src="{{ url_for('static', filename='img/1692478332_pushinka-top-p-prosti-kartinki-trogatelnie-krasivo-15.jpg') }}">
    <img alt="здесь должна была быть картинка, но не нашлась"
         src="{{ url_for('static', filename='img/165b8a7449bdf8789872124d0cc9fa36.jpg') }}">
    <img alt="здесь должна была быть картинка, но не нашлась"
         src="{{ url_for('static', filename='img/19fe96691519ea921af46b01ef918233.jpeg') }}">
</body>
<div>
    <h3>
        Да я не умею рисовать
    </h3>
</div>
{% endblock %}